In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../DATA/Ames_Without_Missing.csv')

In [3]:
df

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,20,RL,141.000000,31770,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,20,RH,80.000000,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,20,RL,81.000000,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,20,RL,93.000000,11160,Pave,Reg,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,60,RL,74.000000,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,80,RL,37.000000,7937,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,...,0,0,0,0,0,3,2006,WD,Normal,142500
2922,20,RL,75.144444,8885,Pave,IR1,Low,AllPub,Inside,Mod,...,0,0,0,0,0,6,2006,WD,Normal,131000
2923,85,RL,62.000000,10441,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,700,7,2006,WD,Normal,132000
2924,20,RL,77.000000,10010,Pave,Reg,Lvl,AllPub,Inside,Mod,...,0,0,0,0,0,4,2006,WD,Normal,170000
2925,60,RL,74.000000,9627,Pave,Reg,Lvl,AllPub,Inside,Mod,...,0,0,0,0,0,11,2006,WD,Normal,188000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2926 non-null   int64
 1   MS Zoning        2926 non-null   object
 2   Lot Frontage     2926 non-null   float64
 3   Lot Area         2926 non-null   int64
 4   Street           2926 non-null   object
 5   Lot Shape        2926 non-null   object
 6   Land Contour     2926 non-null   object
 7   Utilities        2926 non-null   object
 8   Lot Config       2926 non-null   object
 9   Land Slope       2926 non-null   object
 10  Neighborhood     2926 non-null   object
 11  Condition 1      2926 non-null   object
 12  Condition 2      2926 non-null   object
 13  Bldg Type        2926 non-null   object
 14  House Style      2926 non-null   object
 15  Overall Qual     2926 non-null   int64
 16  Overall Cond     2926 non-null   int64
 17  Year Built       2926 non-null   int64
 18  Year Remod/Add   2926 non-null   int64
 19  Roof Style       2926 non-null   object
 20  Roof Matl        2926 non-null   object
 21  Exterior 1st     2926 non-null   object
 22  Exterior 2nd     2926 non-null   object
 23  Mas Vnr Type     1152 non-null   object
 24  Mas Vnr Area     2926 non-null   float64
 25  Exter Qual       2926 non-null   object
 26  Exter Cond       2926 non-null   object
 27  Foundation       2926 non-null   object
 28  Bsmt Qual        2846 non-null   object
 29  Bsmt Cond        2846 non-null   object
 30  Bsmt Exposure    2843 non-null   object
 31  BsmtFin Type 1   2846 non-null   object
 32  BsmtFin SF 1     2926 non-null   float64
 33  BsmtFin Type 2   2845 non-null   object
 34  BsmtFin SF 2     2926 non-null   float64
 35  Bsmt Unf SF      2926 non-null   float64
 36  Total Bsmt SF    2926 non-null   float64
 37  Heating          2926 non-null   object
 38  Heating QC       2926 non-null   object
 39  Central Air      2926 non-null   object
 40  Electrical       2926 non-null   object
 41  1st Flr SF       2926 non-null   int64
 42  2nd Flr SF       2926 non-null   int64
 43  Low Qual Fin SF  2926 non-null   int64
 44  Gr Liv Area      2926 non-null   int64
 45  Bsmt Full Bath   2926 non-null   float64
 46  Bsmt Half Bath   2926 non-null   float64
 47  Full Bath        2926 non-null   int64
 48  Half Bath        2926 non-null   int64
 49  Bedroom AbvGr    2926 non-null   int64
 50  Kitchen AbvGr    2926 non-null   int64
 51  Kitchen Qual     2926 non-null   object
 52  TotRms AbvGrd    2926 non-null   int64
 53  Functional       2926 non-null   object
 54  Fireplaces       2926 non-null   int64
 55  Fireplace Qu     1505 non-null   object
 56  Garage Type      2769 non-null   object
 57  Garage Yr Blt    2926 non-null   float64
 58  Garage Finish    2767 non-null   object
 59  Garage Cars      2926 non-null   float64
 60  Garage Area      2926 non-null   float64
 61  Garage Qual      2767 non-null   object
 62  Garage Cond      2767 non-null   object
 63  Paved Drive      2926 non-null   object
 64  Wood Deck SF     2926 non-null   int64
 65  Open Porch SF    2926 non-null   int64
 66  Enclosed Porch   2926 non-null   int64
 67  3Ssn Porch       2926 non-null   int64
 68  Screen Porch     2926 non-null   int64
 69  Pool Area        2926 non-null   int64
 70  Misc Val         2926 non-null   int64
 71  Mo Sold          2926 non-null   int64
 72  Yr Sold          2926 non-null   int64
 73  Sale Type        2926 non-null   object
 74  Sale Condition   2926 non-null   object
 75  SalePrice        2926 non-null   int64
dtypes: float64(11), int64(26), object(39)
memory usage: 1.7+ MB

In [5]:
# There are 3 types of categorical features
# 1) Numerical, ordinal
# 2) Numerical, non-ordinal (no linear relationship)
# 3) String, (implied non-ordinal)
# We need to encode categorical features of types 2 and 3
# To separate them out, let's convert type 2 features into strings

In [6]:
df['MS SubClass'] = df['MS SubClass'].astype('object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2926 non-null   object
 1   MS Zoning        2926 non-null   object
 2   Lot Frontage     2926 non-null   float64
 3   Lot Area         2926 non-null   int64
 4   Street           2926 non-null   object
 5   Lot Shape        2926 non-null   object
 6   Land Contour     2926 non-null   object
 7   Utilities        2926 non-null   object
 8   Lot Config       2926 non-null   object
 9   Land Slope       2926 non-null   object
 10  Neighborhood     2926 non-null   object
 11  Condition 1      2926 non-null   object
 12  Condition 2      2926 non-null   object
 13  Bldg Type        2926 non-null   object
 14  House Style      2926 non-null   object
 15  Overall Qual     2926 non-null   int64
 16  Overall Cond     2926 non-null   int64
 17  Year Built       2926 non-null   int64
 18  Year Remod/Add   2926 non-null   int64
 19  Roof Style       2926 non-null   object
 20  Roof Matl        2926 non-null   object
 21  Exterior 1st     2926 non-null   object
 22  Exterior 2nd     2926 non-null   object
 23  Mas Vnr Type     1152 non-null   object
 24  Mas Vnr Area     2926 non-null   float64
 25  Exter Qual       2926 non-null   object
 26  Exter Cond       2926 non-null   object
 27  Foundation       2926 non-null   object
 28  Bsmt Qual        2846 non-null   object
 29  Bsmt Cond        2846 non-null   object
 30  Bsmt Exposure    2843 non-null   object
 31  BsmtFin Type 1   2846 non-null   object
 32  BsmtFin SF 1     2926 non-null   float64
 33  BsmtFin Type 2   2845 non-null   object
 34  BsmtFin SF 2     2926 non-null   float64
 35  Bsmt Unf SF      2926 non-null   float64
 36  Total Bsmt SF    2926 non-null   float64
 37  Heating          2926 non-null   object
 38  Heating QC       2926 non-null   object
 39  Central Air      2926 non-null   object
 40  Electrical       2926 non-null   object
 41  1st Flr SF       2926 non-null   int64
 42  2nd Flr SF       2926 non-null   int64
 43  Low Qual Fin SF  2926 non-null   int64
 44  Gr Liv Area      2926 non-null   int64
 45  Bsmt Full Bath   2926 non-null   float64
 46  Bsmt Half Bath   2926 non-null   float64
 47  Full Bath        2926 non-null   int64
 48  Half Bath        2926 non-null   int64
 49  Bedroom AbvGr    2926 non-null   int64
 50  Kitchen AbvGr    2926 non-null   int64
 51  Kitchen Qual     2926 non-null   object
 52  TotRms AbvGrd    2926 non-null   int64
 53  Functional       2926 non-null   object
 54  Fireplaces       2926 non-null   int64
 55  Fireplace Qu     1505 non-null   object
 56  Garage Type      2769 non-null   object
 57  Garage Yr Blt    2926 non-null   float64
 58  Garage Finish    2767 non-null   object
 59  Garage Cars      2926 non-null   float64
 60  Garage Area      2926 non-null   float64
 61  Garage Qual      2767 non-null   object
 62  Garage Cond      2767 non-null   object
 63  Paved Drive      2926 non-null   object
 64  Wood Deck SF     2926 non-null   int64
 65  Open Porch SF    2926 non-null   int64
 66  Enclosed Porch   2926 non-null   int64
 67  3Ssn Porch       2926 non-null   int64
 68  Screen Porch     2926 non-null   int64
 69  Pool Area        2926 non-null   int64
 70  Misc Val         2926 non-null   int64
 71  Mo Sold          2926 non-null   int64
 72  Yr Sold          2926 non-null   int64
 73  Sale Type        2926 non-null   object
 74  Sale Condition   2926 non-null   object
 75  SalePrice        2926 non-null   int64
dtypes: float64(11), int64(25), object(40)
memory usage: 1.7+ MB

In [8]:
df_to_encode, df_remaining = df.select_dtypes(include='object'), df.select_dtypes(exclude='object')

In [9]:
df_to_encode.shape

(2926, 40)

In [10]:
df_remaining.shape

(2926, 36)

In [11]:
df_to_encode.columns

Index(['MS SubClass', 'MS Zoning', 'Street', 'Lot Shape', 'Land Contour',
       'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Fireplace Qu', 'Garage Type', 'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive', 'Sale Type', 'Sale Condition'],
      dtype='object')

In [12]:
# test_series = pd.Series(['Up', 'Up', 'Down', 'Up', 'Down'])
# pd.get_dummies(test_series, drop_first=True)

In [13]:
df_encoded = pd.get_dummies(df_to_encode, drop_first=True)

In [14]:
df_encoded

,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,MS SubClass_70,MS SubClass_75,MS SubClass_80,MS SubClass_85,MS SubClass_90,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,False,False,False,True,False
2922,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
2923,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,True,False
2924,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
2925,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [15]:
df_encoded.shape

(2926, 227)

In [16]:
final_df = pd.concat([df_remaining, df_encoded], axis=1)

In [17]:
final_df.shape

(2926, 263)

In [18]:
final_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,False,False,False,False,True,False,False,False,True,False
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,False,False,False,False,True,False,False,False,True,False
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,False,False,False,False,True,False,False,False,True,False
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,False,False,False,False,True,False,False,False,True,False
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2921,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,False,False,False,False,True,False,False,False,True,False
2922,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,False,False,False,False,True,False,False,False,True,False
2923,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,False,False,False,False,True,False,False,False,True,False
2924,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,False,False,False,False,True,False,False,False,True,False
2925,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,False,False,False,False,True,False,False,False,True,False

In [19]:
# Now, we can save this dataframe

In [20]:
final_df.to_csv('../DATA/Ames_After_Encoding.csv', index=False)